body{
    font-family: 'Poppins', sans-serif;
}
.container{
    margin-bottom: 0px;
}
.btn{
    border-radius: 20px;
    padding: 5px 20px;

    
}
.navbar-nav li{
    padding: 4px 10px;
}
.header-section{background-color: #F0FFF0;}
.banner-area{
    padding-bottom: 40px;
    margin-top: 40px;
}
.banner-top-p {
    color:#FD511A;
}

.banner-area h1{
    font-size: 50px;
    line-height: 70px;
    font-weight: 700;
}
.top-h1{
    color: green;
}


.catagories{
    
    background-color: #E5E5E5;
    padding-top: 30px;
    padding-bottom: 50px

}


.cat-box{
    width: 270px;
    height: 270px;
    background-color: #FFFFFF;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px;
    margin-left: 30px ;
    
}

.cat-box:first-child{
    margin-left:0px;
}
.cat-box h4{
    margin-top: 20px;
    font-size: 24px;
    font-weight: 500;
}
.cat-box p{
    
    font-size: 15px;
    
}
.cat-box:hover{
    background-color: white;
    box-shadow: 5px 5px 10px gray;
    border-radius: 10px;
    -ms-transform: scale(1); /* IE 9 */
  -webkit-transform: scale(1); /* Safari 3-8 */
  transform: scale(1.1); 
 }



.online-ourses{
    background-color: #E5E5E5;
}
.online-ourses h1{
   margin-bottom: 50px;
}
.online-ourses{
    background-color: #E5E5E5;
}
.card{
    padding: 10px;
    border-radius: 10px;
}
.card-body{
    padding-left: 5px;
}
.footer-left{
    float: left;
  width: 180px;
    
}
.footer-right{
    float: right;
    width: 90px;
    
    
}
.footer{
    
    margin-top: 30px;
    background-color:white;
    border: none;
    
   display: inline-block;
}
.footer p{
    color: #585859;
    font-size: 14px;
    font-weight: 400;
}
.testimonial{
    
    background-color: #E5E5E5;
    padding-bottom: 50px;
}
.testimonial h1{
    padding-top: 50px;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    font-weight: bold;
}
.testimonial-box{
    margin-top: 50px;
    padding: 20px;
}
.testimonial-box p{
    width: 550px;
    height: 90px;
    margin-left: 50px;
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
    
}
.testimonial-box img{
    
    margin-left: 80px;
    
}
.footer-area{
    background-color: #282531;
    color: white;
    padding-bottom: 20px;
}
#footer-body{
    margin-top: 40px;
    margin-bottom: 40px;
}
.footer-list{
    float: left;
    margin-left: 15px;
}

.footer-list:first-child{
   
    margin-left: 0px;
}

.footer-list ul li{
   list-style: none;
   
}
.footer-list ul li a{
    font-size: 14px;
    text-decoration: none;
    color: white;
    line-height: 32px;
}
.footer-list ul li a:hover{
    color: lightblue;
}

.foot-list-head{
    font-weight: bold;
}
.footer-left-side p{
    font-size: 14px;
    font-weight: normal;
    line-height: 30px;
}
